body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0px;
}

nav {
  background-color: black;
  background-image: url('https://i.pinimg.com/originals/7c/67/8b/7c678bffd31dc92dc80d95d471b0e83d.png');
  background-size: contain;
  background-repeat: repeat-x;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-image {
  width: 15em;
}

.searchbar-container {
  display: flex;
  padding: 1em 1em;
  align-items: center;
  flex: 1;
  align-items: stretch;
}

.searchbar {
  padding-right: 2em;
  flex: 1;
}

.searchbar input {
  padding: 0.7em;
  box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  border: none;
  width: 100%;
}

.searchbar input:focus {
  outline: none;
}

.searchbar-btn button {
  background-color: #363636;
  border: none;
  border-radius: 0.6em;
  height: 100%;
  color: white;
  padding: 0.5em 0.8em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  padding: 0em 1em 2em 1em;
}

@media screen and (max-width: 992px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .pokedex-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pokemon-card {
  display: flex;
  box-shadow: 0.4em 0.4em 0.4em rgba(0, 0, 0, 0.25);
  border-radius: 0.4em;
}

.pokemon-img-container {
  padding: 0px 0.4em;
}

.pokemon-img {
  width: 70px;
  height: 70px;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 1em;
  text-transform: capitalize;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8em 0.8em 0.81em 0.8em;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-container{
background-color: #FFCB42;
width: 100%;
height: 100%;
}

.App {
  font-family: sans-serif;
}

.btn-order{
  background-color: #363636;
  border: none;
  border-radius: 0.6em;
  height: 100%;
  color: white;
  padding: 0.5em 0.8em;
  margin-left: 1em; 
}

.order-text {
  padding: 0.5em 0.8em ;
}

.pagination-btn {
  background-color: #363636;
  border: none;
  border-radius: 0.9em;
  height: 100%;
  color: white;
  padding: 0.5em 0.8em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 2em;
}
